:root {
    --main-bg-color: antiquewhite;
    --main-text-color: green;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#strapline {
    width: 100%;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    height: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
